<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.baseurl | prepend: site.url }}">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.head-title }}{% endif %}</title>

  <link rel="stylesheet" href="{{ '/lib/fontawesome/css/all.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/lib/mdb/css/bootstrap.min.css' | prepend: site.baseurl }}">
  <link media="all" rel="stylesheet" type="text/css" href="{{ '/lib/mdb/css/mdb.min.css' | prepend: site.baseurl }}">

  <link media="all" rel="stylesheet" type="text/css" href="{{ '/lib/bootstrap-social/css/bootstrap-social.css' | prepend: site.baseurl }}">

  {% include check.html %}
</head>
