<div class="site-container"><div class="wrapper">

    <div class="post-ribbon"></div>
    
    <div class="container post-container">
      <div class="post-page card-panel z-depth-2">
      <div class="tab-section">
    
        <div class="post-header">
          <h1 class="post-title">Sreenshots</h1>
        </div>
    
        <article class="post-content">
            <h2>Search screen</h2>
            <img src="{{ '/screenshots/Screenshot_1551520549.png' | prepend: site.baseurl }}"  style="max-width:100%; height: auto;"/>
            <h2>Multilingual search</h2>
            <img src="{{ '/screenshots/Screenshot_1561880402.png' | prepend: site.baseurl }}"  style="max-width:100%; height: auto;"/>
            <h2>Search from other apps</h2>
            <img src="{{ '/screenshots/Screenshot_1551599195.png' | prepend: site.baseurl }}"  style="max-width:100%; height: auto;"/>
            <h2>Search from other apps (using sharing)</h2>
            <img src="{{ '/screenshots/Screenshot_1553243720.png' | prepend: site.baseurl }}"  style="max-width:100%; height: auto;"/>
            <h2>Navigation drawer</h2>
            <img src="{{ '/screenshots/Screenshot_1551520634.png' | prepend: site.baseurl }}"  style="max-width:100%; height: auto;"/> 
            <h2>Bookmarks</h2>
            <img src="{{ '/screenshots/Screenshot_1551520596.png' | prepend: site.baseurl }}"  style="max-width:100%; height: auto;"/> 
            <h2>Bookmarks export</h2>
            <img src="{{ '/screenshots/Screenshot_1551520604.png' | prepend: site.baseurl }}"  style="max-width:100%; height: auto;"/> 
            <h2>Bookmarks import</h2>
            <img src="{{ '/screenshots/Screenshot_1551520652.png' | prepend: site.baseurl }}"  style="max-width:100%; height: auto;"/> 
        </article>
    
      </div>
      </div>
    </div>
    
    </div>
    </div>
    
    