<!DOCTYPE html>
<html class="h-100">

  {% include head.html %}

  <body class="d-flex flex-column h-100"

    <header>
      <nav class="navbar navbar-expand-sm navbar-dark primary-color">

	<a class="navbar-brand" href="#">Sumatora</a>
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sumatoraNav" aria-controls="sumatoraNav" aria-expanded="false" aria-label="Toggle navigation">
	   <span class="navbar-toggler-icon"></span>
	</button>
	
        {% include navbar.html %}
      </nav>
    </header>

    <main role="main" class="mt-3 flex-shrink-0">
      <div class="container">
	{{ content }}
	</div>
    </main>

    {% include footer.html %}

    <script type="text/javascript" src="{{ '/lib/mdb/js/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/lib/mdb/js/popper.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/lib/mdb/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/lib/mdb/js/mdb.min.js' | prepend: site.baseurl }}"></script>
  </body>

</html>
